/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #385675;
}

.wrapper{
  user-select: none;
}

.wrapper .time{
  height: 100px;
  background: #49beaa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.39);
  padding: 0 15px;
}

.wrapper .time span{
  width: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #333;
}

.time span.colon{
  width: 10px;
}

.time span.ms-colon,
.time span.millisecond{
  color: #bfdbf7;
}

.wrapper .buttons{
  text-align: center;
  margin-top: 20px;
}

.buttons button{
  padding: 6px 16px;
  outline: none;
  border: none;
  margin: 0 5px;
  color: #002642;
  background: #69cbae;
  font-size: 25px;
  font-weight: 550;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.39);
}

.buttons button.active,
.buttons button.stopActive{
  pointer-events: none;
  opacity: 0.7;
}